<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="color.scss">
</head>

<body>
    
        <div class="UI-KIT__colors&type">
            <img src="../src/icons/Logo2.svg" alt="иконка TOXIN">
            <div class="colors-box">
                <div class="color-box__grey-first grey-first">
                    <div class="grey-first__color"></div>
                    <p class="grey-first__color-text"><span class="grey-first__color-name"> Dark Shade 100%</span> #1F2041</p>
                </div>
                <div class="color-box__grey-second grey-second">
                    <div class="grey-second__color"></div>
                    <p class="grey-second__color-text"><span class="grey-second__color-name"> Dark Shade 100%</span> #1F2041</p>
                </div>
                <div class="color-box__grey-third grey-third">
                    <div class="grey-third__color"></div>
                    <p class="grey-third__color-text"><span class="grey-third__color-name"> Dark Shade 100%</span> #1F2041</p>
                </div>
                <div class="color-box__grey-fourth grey-fourth">
                    <div class="grey-fourth__color"></div>
                    <p class="grey-fourth__color-text"><span class="grey-fourth__color-name"> Dark Shade 100%</span> #1F2041</p>
                </div>
                <div class="color-box__white white-box">
                    <div class="white-box__color"></div>
                    <p class="white-box__color-text"><span class="white-box__color-name"> Dark Shade 100%</span> #1F2041</p>
                </div>
                <div class="color-box__purple-box">
                    <div class="purple-box__color"></div>
                    <p class="purple-box__color-text"><span class="purple-box__color-name"> Dark Shade 100%</span> #1F2041</p>
                </div>
                <div class="color-box__green-box">
                    <div class="green-box__color"></div>
                    <p class="green-box__color-text"><span class="green-box__color-name"> Dark Shade 100%</span> #1F2041</p>
                </div>

            </div>

            <div class="text-styles">
                <div class="text-style">
                    <p class="text-styles__item">H1</p>
                    <p class="text-styles__place">This one is the sub-section or
                        widget title</p>
                </div>
                <div class="text-style">
                    <p class="text-styles__item">H2</p>
                    <p class="text-styles__place">Next one is the item title inside
                        widgets</p>
                </div>
                <div class="text-style">
                    <p class="text-styles__item">H3</p>
                    <p class="text-styles__place">This is a label or CTA text</p>
                </div>
                <div class="text-style">
                    <p class="text-styles__item">Body</p>
                    <p class="text-styles__place">This is the body text which is used for most
                        of the design, like paragraphs, lists, etc.</p>
                </div>
            </div>
        </div>
    </body>
    </html>