<header class="header">
    <div class="header__logo">
        <img src="icons/Logo2.svg" alt="logo_TOXIN">
    </div>
    <nav class="nav-bar">
        <ul class="nav-bar__items">
            <li class="nav-bar__item"><a href="#">О нас</a></li>
            <li class="nav-bar__item"><a href="#">Услуги</a></li>
            <li class="nav-bar__item"><a href="#">Вакансии</a></li>
            <li class="nav-bar__item"><a href="#">Новости</a></li>
            <li class="nav-bar__item"><a href="#">Соглашения</a></li>
            <button>Войти</button>
            <button>Зарегистрироваться</button>
        </ul>
    </nav>
</header>